@model QuizApplicationMVC.Models.Questions

@{
    ViewData["Title"] = "Delete";
}

<style>
    .button {
        background-color: rgba(17, 17, 17, 0.6);
        border-color: black;
        color: white;
    }

    .button:hover {
       background-color: rgba(17, 17, 17, 0.8);
       border-color: white;
       color: white;
    }
</style>

<div class="container mt-4 p-0">
    <h1>Delete Question</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn button">Back to List</a>
    </form>
</div>
